*{ padding: 0;margin: 0;}
body{ font-family: "Microsoft YaHei UI Light";}
.body-cont{ min-width: 950px;}
h2{ user-select: none;cursor: default;}
#mycanvas{ display: block;width: 100%;height: 100%;background: black;opacity: 0.3;position: fixed;z-index: -1;}
/*nav部分*/
header{ overflow: hidden;}
nav { width: 100%;height: 60px;position: fixed;background: #e6e2e4;z-index: 100;}
nav .div-cont{ display: block;height: 100%;margin: 0px auto;width:60%;text-align: center;}
nav ul{ list-style: none;line-height: 60px;display: inline-block;overflow: hidden;min-width: 300px;}
nav ul li{ float: left;padding: 0 17.5px;height: 57px;overflow: hidden;}
nav ul li:hover,.current{ background: grey;border-bottom: 3px solid orange;}
.iconfont{ font-size: 40px;color: black;}
a{ text-decoration: none;cursor: pointer;user-select: none;}

/*body部分*/
.body .mess-cont{ width: 100%;background: rgba(9, 0, 89, 0.69);color: #fefff1}
.body .mess-cont .mymessage{ width: 60%;margin: 0 auto;padding-top:40px;padding-left:20px;padding-right: 20px;padding-bottom: 80px;margin-top: 60px;}
.body .mess-cont .mymessage .basic { display: block;text-align: center;width: 100%;margin-bottom: 30px;}
.body .mess-cont .mymessage .basic .basic-mess{ display: inline-block;margin-right: 15px;}
.body .mess-cont .mymessage .basic .basic-mess:nth-child(1),.basic-mess:nth-child(2){ padding-right: 15px;border-right: 1px dotted gray;}
#introduce{ margin-top: 10px;text-indent: 30px;font-size: 15px;line-height: 40px;min-width: 950px;}

.body .body-cont{ width: 60%;margin: 0 auto;margin-top: 60px;padding-top: 60px;border-top: 1px solid gray;}
.education #edu-ex{ text-align: center;font-size: 20px;margin-bottom: 40px;}

/*学校信息*/

.school{ width: 20%;height: 300px;transition: .3s;position: relative;overflow: hidden;margin: 0 21px;float: left;border: 1px solid gray;}
.school:hover{ transform: translate3d(0px,-5px,0px);box-shadow: 0px 10px 20px rgba(0,0,0,.3);}
.school .school-mess{ position: absolute;bottom: -170px;padding: 10px;text-align: center;background: #e2fad7;transition: .3s;height: 150px;opacity: .9;color: #57005d;text-shadow:0 0 15px #ffb18f;}
.school:hover.school .school-mess{ bottom: 0px;}

.zsl{ background: url("../img/zsl.png") no-repeat;width: 100%;height: 100%;text-align: center;padding-top: 5px;color: #d1d1d1;font-weight: bold;font-size: 30px;text-shadow: 0 0 1em red, -0 -0 .1em red;font-family: helvetica,arial,sans-serif;background-size: 210px;}

.hyjs{ background: url("../img/hyjs.png") no-repeat;width: 100%;height: 100%;text-align: center;padding-top: 5px;color: black;font-weight: bold;font-size: 30px;text-shadow: 0 0 1em deepskyblue, -0 -0 .1em deepskyblue;font-family: helvetica,arial,sans-serif;background-size: 200px;}

.wgsz{ background: url("../img/wgsz.png") no-repeat;width: 100%;height: 100%;text-align: center;padding-top: 5px;color: #b96919;font-weight: bold;font-size: 30px;text-shadow: 0 0 1em #fcff00, -0 -0 .1em #fcff00;font-family: helvetica,arial,sans-serif;background-size: 200px 130%;}

.jhdx{ background: url("../img/jhdx.png") no-repeat;width: 100%;height: 100%;text-align: center;padding-top: 5px;color: #d1d1d1;font-weight: bold;font-size: 30px;text-shadow: 0 0 1em black, -0 -0 .1em black;font-family: helvetica,arial,sans-serif;background-size: 200px;}
.body-cont .education::after{ content: "";display: block;clear: both;}

#credential{ text-align: center;font-size: 20px;margin-bottom: 40px;}
.gain{ margin-top: 60px;padding-top: 60px;border-top: 1px solid gray;}
.gain .mycre p{ color: #03001e;text-indent: 30px;line-height: 40px;}
.gain .mycre{ float: left;width: 23%;margin-right: 40px;border-right: 1px solid grey;}
.gain .skill{ float: right;width: 70%;line-height: 40px;font-size: 24px;color: #000b9e;}

#ms{ text-align: center;font-size: 20px;margin-bottom: 40px;}
.myskill{ margin-top: 60px;padding-top: 60px;border-top: 1px solid gray;}
.progress{ margin: 10px auto;padding-left: 25%;}
.progress .items{ height: 30px;border: 1px solid black;width: 300px;display: inline-block;margin-left: 100px;}
.progress .items .bar{ background: green;height: 100%;text-align: center;color: white;line-height: 30px;}
.p-text{ display: inline-block;width: 100px;}
.progress .items .java{ width: 0;}
.progress .items .htmlcss{ width: 0;}
.progress .items .js{ width: 0;}
.progress .items .adob{ width: 0;}

#myproject{ text-align: center;font-size: 20px;margin-bottom: 40px;}
.mywork{ margin-top: 60px;padding-top: 60px;border-top: 1px solid gray;}
.ae ul{ list-style: none;}


#contact{ text-align: center;font-size: 30px;margin-bottom: 40px;color: white;font-family: "Adobe Gurmukhi";}
footer .foot-cont{ margin-top: 100px;padding-top: 60px;border-top: 1px solid gray;background: #000039;color: white;overflow: hidden;padding-bottom: 60px;opacity: .8;min-width: 1500px;}
footer{ overflow: hidden;}
.foot-cont .foot-left,.foot-cont .foot-midd{ float: left;}
.foot-cont .foot-right{float: right;}
.foot-cont .foot-midd{ margin-left: 300px;}
.foot-cont .foot-left{margin-left: 50px;}
.foot-cont p{ font-family: Latha;margin: 10px 0;font-size: 25px;}
.foot-cont .foot-left .Email{ padding-left: 20px;font-family: "Microsoft YaHei UI Light";font-size: 18px;}
.foot-cont .foot-left .QQ{ padding-left: 37px;font-family: "Microsoft YaHei UI Light";font-size: 18px;}
.foot-cont .foot-midd .phone{ padding-left: 40px;font-family: "Microsoft YaHei UI Light";font-size: 20px;}
.foot-cont .foot-midd .place{ display: inline-block;}
.foot-cont .foot-midd address{ display: inline-block;font-style: normal;padding-left: 54px;}
.foot-cont .foot-right { margin-right: 50px;margin-top: 20px;position: relative;}
.foot-cont .foot-right span{ position: absolute;top: 30px;left: -70px;}
footer .last{ width: 100%;height: 60px;background: black;}
footer .last p{ float: right;margin-right: 70px;color: white;line-height: 60px;font-family: 楷体;}

/*mywork*/
.mywork #myproject{ text-align: center;font-size: 20px;margin-bottom: 40px;}
.mywork{ margin-top: 60px;padding-top: 60px;border-top: 1px solid gray;overflow: hidden;}
.mywork .mywork-html,.mywork .mywork-ae{ float: left;margin-left: 20%;font-size: 20px;}
.mywork p{ line-height: 50px;padding: 0 10px;cursor: default;}
.mywork .mywork-ul{ list-style: none;text-align: center;display: none;padding-bottom: 20px;}
.mywork .mywork-ul li a{ display: block;padding: 5px 0;cursor: pointer;color: black;}
.mywork .mywork-ul li a:visited{ color: black;}
.mywork .mywork-ul li a:hover{ color: whitesmoke;}
.mywork .mywork-ul li:hover{ background: #4087ff;}
/*.mywork .mywork-html:hover .mywork-ul{ display: block;}*/
/*.mywork .mywork-ae:hover .mywork-ul{ display: block;}*/

/*侧边栏*/
.container .sider { position: fixed;top:45%;left: 92%;}
.container .sider ul{ list-style: none;}
.container .sider ul li{ border: 1px solid rgba(255,255,255,.6);margin: 20px;background: rgba(255,255,255,.6);border-radius: 10px;transition: .3s;position: relative;}
.container .sider ul li a{ display: block;margin: 5px;}
.container .sider ul li:hover{ background: rgba(255,255,255,1);border-radius: 0;}
.sider span{ position: absolute;background: none;transition: .3s;}
.sider .l-bottom{ width: 0;height: 2px;bottom: -1px;left: -200%;}
.container .sider ul li:hover .l-bottom{ width: 100%;left: 0;background: white;}
.sider .l-left{ width: 2px;height: 0;top: -100%;left: -1px;}
.container .sider ul li:hover .l-left{ height: 100%;top:0;background: white;}
.sider .l-top{ width: 0;height: 2px;top:-1px;right: -200%;}
.container .sider ul li:hover .l-top{ width: 100%;right: 0;background: white;}
.sider .l-right{ width: 2px;height: 0;bottom: -100%;right: -1px;}
.container .sider ul li:hover .l-right{ height: 100%;bottom: 0;background: white;}

#mask{ background-color: black;opacity: .6;width: 100%;height: 100%;position: fixed;top:0;left: 0;}
#snow-inner{ margin:0 20%;width: 60%;position: fixed;top: 15%;display: none;z-index: 50;}
#e3d-inner{ margin:0 20%;width: 60%;position: fixed;top: 15%;display: none;z-index: 50;}
#water-inner{ margin:0 20%;width: 60%;position: fixed;top: 15%;display: none;z-index: 50;}